*{
margin: 0; 
padding: 0; 
box-sizing: border-box; 
}

/* inzio common */
.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* fine common */

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* inzio header */

/* .header {
    width: 100%;
    margin-bottom: 40px;
}

.top {
    height: 80px;
    background-color: #585C73;
} */

#logo img {
    height: 70px;
    padding-right: 20px;
    border-right: 1px solid #e5e5e5;
    /* margin-bottom: 30px; */
}

.menu {
    /* background-color: #585C73; */
}

nav {
    margin-top: 40px;
    margin-bottom: 40px;
}

nav li{
    /* background-color: red; */
    display: inline;
    padding-right: 20px;
    text-transform: uppercase;
    
}


nav li a {
    color: #858585;
    text-decoration: none;


}

.bottom {
    height: 350px;
    background-color: #C2D7F2;
}

/* fine header */

/* inzio main */

.contenent {
    background-color: #6581A6;
    width: 100%;
}

.box {
    height: 80px;
    margin-bottom: 20px;
    background-color: #B0BAD9;
}

.sidbar {
    float: left;
    padding: 10px;
    margin-bottom: 20px;
    width: calc(100% / 5);
    background-color: #B0BAD9;
}

.center {
    float: left;
    margin: 0 20px;
    padding: 10px;
    width: calc(( 100% / 5) * 3 - 40px);
    background-color: #B0BAD9;
}

p {
    color: #585C73;
    text-align: justify;
    
}

/* fine main */

/* inzio footer */

.end {
    height: 80px;
    margin-top: 40px;
    background-color: #D5D2D9;
}

/* inzio footer */

