*{
margin: 0; 
padding: 0; 
box-sizing: border-box; 
}

/* inzio common */
.clearfix {
    content: "";
    display: table;
    clear: both;
}
/* fine common */

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* inzio header menu */

#logo img {
    height: 70px;
    padding-right: 20px;
    border-right: 1px solid #e5e5e5;
}

nav {
    margin-top: 40px;
    margin-bottom: 40px;
}

nav li{
    display: inline;
    padding-right: 20px;
    text-transform: uppercase;
}

nav li a {
    color: #858585;
    text-decoration: none;
}
/* fine header menu */
/* ------------------------------------------------------------------------------------------------- */
/* inizio header bottom */

.banner {
    height: 600px;
    border-radius: 20px;
    margin-bottom: 40px;
    position: relative;
}

.trasparenza {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    inset: 0px;
    position: absolute;
}

.banner img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.text {
    position: absolute;
    bottom: 80px;
    left: 60px;
    color: white;
}
/* fine header bottom */
/* ------------------------------------------------------------------------------------------------- */

/* inzio main */

.contenent {
    width: 100%;
}

.box {
    margin-bottom: 40px;
}

.sidbar {
    float: left;
    margin-bottom: 20px;
    width: calc(100% / 5);
    position: relative;
}

.center {
    float: left;
    margin: 0 20px;
    width: calc(( 100% / 5) * 3 - 40px);
    position: relative;
}

.foto {
    border-radius: 20px;
    position: relative;
}

.scuro {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    inset: 0px;
    position: absolute;
}

.foto img {
    width: 100%;
    max-height: 200px;
    border-radius: 20px;
    object-fit: cover;
}

.articol {
    margin-top: 20px;
}

p {
    color: white;  
}

#titolo {
    color: rgb(66, 66, 66);
    margin-bottom: 20px;
}

.grey {
    color: gray;
}

/* fine main */

/* inzio footer */

.end { 
    margin-top: 40px; 
}

.cuore {
    text-align: center;
    color: rgb(66, 66, 66);
}

.red {
    color: red;
}

/* inzio footer */

